* {
    box-sizing: border-box;
}

body {
   background-color: #0d1117;
   color: white;
}

header {
    background:  #161b22;
    color: white;
   padding: 10px;
   display: flex;
   margin:  0;
}

H1 {
    font-size: 60px;
    padding: 10px;
    margin: 0;
    width: 30%;  
    justify-content: center;  
    white-space: nowrap; 
}

header nav {
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 60%;
}

header nav ul {
    font-size: 30px;
   list-style-type: none;
   padding: 10px;
   margin: 0;
   display: flex;
   justify-content: center;  
   white-space: nowrap;  
   position: relative;
   top: 5px; 
}

header nav ul li {
   margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 50px;
    display: flex;
    position: relative;
    top: 10px;
}

.quote {
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    padding: 10px;
    margin: 10px;
    border: 10px;
}

section {
   padding: 10px;
   margin: 10px;
}

.AboutMeBg {
    display: block;
}

#AboutMe {
    display: block;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    border-radius: 75px;
    width: 220px;
    height: fit-content;
    margin: auto;
    background-color: #161b22;  
}
 .AboutMe {
    display: flex;
    padding: 10px;
    margin: 20px; 
 }

 .AboutMe img {
    margin: auto;
    padding: 10px;
 }

 .AboutMe p {
    margin:auto;
    padding: 20px;
    border: 20px;
 }

 #Work {
   display: block;
   font-size: 60px;
   text-align: center;
   padding: 10px;
   border-radius: 75px;
   width: 250px;
   height: fit-content;
   margin: auto;
   background-color: #161b22;
 }

 .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 10px;
    margin: 20px;
 }

.projects img {
padding: 10px;
border: 10px;
}

.projects p {
   margin: 0;
   padding: 10px;
   font-size: 20px;
}
 
 footer {
   margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: no wrap;
   display: flex;
   margin: 0;
   justify-content: center;
   align-items: center;
   background:  #161b22;
   color: white;
  
 }

 #ContactMe {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    
 }

 footer nav {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin: 0;
    align-items: center;
    position: relative;
    top: 10px;
 }

 
footer section {
   display: flex;
   margin: 0;
   padding: 0;
   justify-content: center;
   align-items: center;
}

 footer nav ul {
    list-style-type:none;
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    justify-content: center;
    align-items: center;   
 }

 footer nav ul li {
   padding: 20px 30px 30px 30px;
   align-items: center;
   justify-content: center;
 }
